@model Rehber.User

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    
    @Html.ValidationSummary(true)    
        <legend>User</legend>

        

        @*<div class="form-group">
            @Html.LabelFor(model => model.Username)        
            @Html.EditorFor(model => model.Username)
            @Html.ValidationMessageFor(model => model.Username)
        </div>*@

        <div class="form-group">
            @Html.LabelFor(model => model.Password)        
            @Html.EditorFor(model => model.Password)
            @Html.ValidationMessageFor(model => model.Password)
        </div>@*

        <div class="form-group">
            @Html.LabelFor(model => model.Isim)        
            @Html.EditorFor(model => model.Isim)
            @Html.ValidationMessageFor(model => model.Isim)
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Soyisim)        
            @Html.EditorFor(model => model.Soyisim)
            @Html.ValidationMessageFor(model => model.Soyisim)
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Telefon)        
            @Html.EditorFor(model => model.Telefon)
            @Html.ValidationMessageFor(model => model.Telefon)
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Departman)        
            @Html.EditorFor(model => model.Departman)
            @Html.ValidationMessageFor(model => model.Departman)
        </div>*@

     

       <input type="submit" class="btn btn-primary" value="Create User" /> <a href="@Url.Action("index")"> or cancel</a>
    
}


